/* 
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.feild-extension {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.check-box {
  display: flex;
}
.links {
  display: flex;
} */
